{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Change Password
        </div>
        <div class="card-body">
        {% if msg %}
            {% if success %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
        {% endif %}
            <form method="POST" action="/user/change-password">
                <div class="form-group">
                  {% if not user %}<p>Enter the username to validate the password change:</p> {% endif %}
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" required value="{% if user %}{{user.username}}{% endif %}" {% if user %}disabled{% endif %}/>
                </div>


                 {% if not user %}
                <div class="form-group">
                    <label>Current Password:</label>
                    <input type="password"  name="current_password" required>
                </div>

                <div class="form-group">
                    <label>New Password:</label>
                    <input type="password"  name="new_password" required>
                </div>
                 {% endif %}

                {% if user %}
                <div class="form-group">
                    <label for="new-password">New Password:</label>
                    <input type="password" name="new_password" required>
                </div>

                <div class="form-group">
                    <label for="confirm-password"> Confirm New Password:</label>
                    <input type="password"  name="confirm_password" required>
                </div>
                {% endif %}


                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
         {% if not user %}
            <div class="card-footer text-muted">
                <a href="/auth">Already have an account?</a>
                <a href="/auth/register"> Sign In</a>
            </div>
        {% endif %}
    </div>
</div>