<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/todo/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/todo/css/base.css')}}">
    <title>TodoApp</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    {# es una etiqueta utilizada en plantillas que admiten el concepto de bloques.
    En el contexto de una plantilla, los bloques son áreas designadas que se pueden 
    sobrescribir en plantillas que extienden o heredan de otras plantillas. 
    Es una forma de estructurar las plantillas de manera modular y
    permitir la personalización en lugares específicos.#}

{% block content %}

{% endblock %}

<script src="{{url_for('static', path='/todo/js/jquery-slim.js')}}"></script>
    <script src="{{url_for('static', path='/todo/js/popper.js')}}"></script>
    <script src="{{url_for('static', path='/todo/js/bootstrap.js')}}"></script>
</body>
</html>